<!doctype html>
{% load static %}
<html class="no-js" lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Accueil</title>
        <meta name="description" content="Découvrez nos fiches de poste et postulez facilement.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price_rangs.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    </head>

    <body>
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="{% static 'assets/img/logo/logo.svg' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </div>
        <header>
            <div class="header-area header-transparrent">
                <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-3 col-md-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/logo.svg' %}" alt="Logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper d-flex justify-content-end align-items-center">
                                    <div class="header-btn d-none d-lg-block">
                                        <a href="{% url 'users:connecter' %}" class="btn head-btn2">Se Connecter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="featured-job-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            {% if fiches %}
                                <div class="section-title text-center mb-50">
                                    <h1>POSTES À POURVOIR</h1>
                                </div>
                                {% for fiche in fiches %}
                                    <div class="single-job-items mb-30">
                                        <div class="job-items">
                                            <div class="company-img">
                                                <a href="#"><img src="{% static 'assets/img/icon/job-items.png' %}" alt="Image d'entreprise"></a>
                                            </div>
                                            <div class="job-tittle job-tittle2">
                                                <a href="{% url 'poste_detail' fiche.id %}">
                                                    <h4>{{ fiche.titre_poste }}</h4>
                                                </a>
                                                <ul>
                                                    <li><i class="fas fa-map-marker-alt"></i>{{ fiche.lieu }}</li>
                                                </ul>
                                                <span>Horaire: 8H/jours</span>
                                            </div>
                                        </div>
                                        <div class="items-link items-link2 f-right">
                                            <a href="{% url 'poste_detail' fiche.id %}">Consulter</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else  %}
                                <div class="card col-lg-5 text-center mx-auto">
                                    <div class="card-body">
                                        <span>AUCUN POSTE EN COURS </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="apply-process-area apply-bg pt-100 pb-100" data-background="{% static 'assets/img/gallery/how-applybg.png' %}" style="background-color: #007bff !important;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <h1 class="white-text">Comment Postuler</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-process text-center mb-30">
                                <div class="process-ion">
                                    <span class="flaticon-search"></span>
                                </div>
                                <div class="process-cap">
                                    <h5>1. Rechercher un Poste</h5>
                                    <p>Consultez notre catalogue de Fiches de Poste si diponible.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-process text-center mb-30">
                                <div class="process-ion">
                                    <span class="flaticon-curriculum-vitae"></span>
                                </div>
                                <div class="process-cap">
                                    <h5>2. Postuler au Poste</h5>
                                    <p>Remplissez le formulaire et joignez tous les fichiers nécessaires.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-process text-center mb-30">
                                <div class="process-ion">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="process-cap">
                                    <h5>3. Restez à l'écoute</h5>
                                    <p>Après la postulation, restez à l'écoute pour toutes les autres étapes supplémentaires.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </main>

        <footer>
            <div class="footer-bottom-area footer-bg">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-10 ">
                                <div class="footer-copy-right">
                                    <p>
                                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Propriété privée, toute reproduction interdite par l'équipe HANDRES
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2">
                                <div class="footer-social f-right">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </footer>
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/price_rangs.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>
